.game {
	width: 600px;	
	height: 200px;	
	border-bottom: 1px solid #000;
	margin: auto;
}

#dino {
	width: 50px;
	height: 50px;
	background-image: url(../img/trex.png);
	background-size: 50px 50px;
	position: relative;
	top: 160px;
}

#cactus{
	width: 20px;
	height: 40px;
	background-image: url(../img/cactus.png);
	background-size: 20px 40px;
	position: relative;
	top: 110px;
	left: 600px;
	animation: cactusMov 2s infinite linear;
}

#fly{
	width: 60px;
	height: 40px;
	background-image: url(../img/fly.png);
	background-size: 60px 40px;
	position: relative;
	top: 10px;
	left: 600px;
	animation: fly 10s infinite linear;
}

#fly_next{
	width: 60px;
	height: 40px;
	background-image: url(../img/fly_next.png);
	background-size: 60px 40px;
	position: relative;
	top: 7px;
	left: 550px;
	animation: fly_next 4s infinite linear;
}

#fly_last{
	width: 60px;
	height: 40px;
	background-image: url(../img/fly_last.png);
	background-size: 60px 40px;
	position: relative;
	top: -45px;
	left: 470px;
	animation: fly_last 6s infinite linear;
}

@keyframes cactusMov{
		0%{
			left: 600px;
		}
		100%{
			left: -20px;
		}
}

.jump{
	animation: jump 0.3s linear;
}

@keyframes jump{
	0%{
		top: 160px;
	}
	30%{
		top: 130px;
	}
	50%{
		top: 90px;
	}
	80%{
		top: 130px;
	}
	100%{
		top: 160px;
	}
}

@keyframes fly{
		0%{
			left: 600px;
		}
		100%{
			left: -20px;
		}
}

@keyframes fly_next{
		0%{
			left: 550px;
		}
		100%{
			left: -20px;
		}
}

@keyframes fly_last{
		0%{
			left: 470px;
		}
		100%{
			left: -20px;
		}
}